<template>
    <section class="dayRecAss">
        <!-- 如果當日評估詳細評估 有資料等於 1 筆，且當日評估詳細評估 api 沒有產生錯誤訊息，才會顯示此區塊 -->
        <div class="container-fluid" v-if="resDayAssRecData.length === 1 && serverError === ''">
            <div class="row">
                <div class="dayRecAssData col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in resDayAssRecData" :key="index">
                    <div class="card">
                        <h6>《記錄內容》</h6>

                        <!-- 患者入院資訊 -->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h5>患者入院資訊</h5>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="'病歷號: ' + item.CRTNO"></p>
                            </div>
                            
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="'床號: ' + item.BEDNO"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="'評估日期: ' + formatDate(item.VSDTE)"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="'評估時間: ' + formatTime(item.VSTME)"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <hr>
                            </div>
                        </div>
                        
                        <!-- 身體評估資訊 -->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h5>身體評估資訊</h5>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <ol class="bodyAssList">
                                    <li class="assItem">
                                        <p class="title">心臟血管系統</p>
                                        <ul class="row">
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'心律: ' + verifyFieldNull(item.RHYTHM)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'皮膚狀況: ' + verifyFieldNull(item.SKIN_COLOR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'唇色: ' + verifyFieldNull(item.LIP_COLOR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'微血管充填時間: ' + verifyFieldNull(item.M_VASCULAR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'溫度: ' + verifyFieldNull(item.TEMPERATURE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'水腫: ' + verifyFieldNull(item.EDEMA)"></li>
                                        </ul>
                                        <hr>
                                    </li>
                                    <li class="assItem">
                                        <p class="title">泌尿系統</p>
                                        <ul class="row">
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'尿液顏色: ' + verifyFieldNull(item.URINE_COLOR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'解尿情形: ' + verifyFieldNull(item.PISS_CASE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'解尿方式: ' + verifyFieldNull(item.PISS_TYPE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'會陰分泌物: ' + verifyFieldNull(item.DISCHARGE)"></li>
                                        </ul>
                                        <hr>
                                    </li>
                                    <li class="assItem">
                                        <p class="title">肌肉骨骼系統</p>
                                        <ul class="row">
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'身體對稱: ' + verifyFieldNull(item.SYMMETRY)"></li>
                                            <li class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" v-text="'外觀: ' + verifyFieldNull(item.APPEARANCE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'畸形: ' + verifyFieldNull(item.DEFORMITY)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'腫脹: ' + verifyFieldNull(item.B_EDEMA)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'瘀血: ' + verifyFieldNull(item.STASIS)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'關節僵硬: ' + verifyFieldNull(item.JOINT_STIFF)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'關節畸形: ' + verifyFieldNull(item.JOINT_DEF)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'肌肉腫脹: ' + verifyFieldNull(item.B_EDEMA)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'關節疼痛: ' + verifyFieldNull(item.JOINT_PAIN)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'關節紅腫: ' + verifyFieldNull(item.JOINT_RED)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'關節制動: ' + verifyFieldNull(item.JOINT_IMM)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'脊柱: ' + verifyFieldNull(item.SPINE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'感覺改變: ' + verifyFieldNull(item.FEEL)"></li>
                                        </ul>
                                        <hr>
                                    </li>
                                    <li class="assItem">
                                        <p class="title">呼吸系統</p>
                                        <ul class="row">
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'呼吸型態: ' + verifyFieldNull(item.BRE_TYPE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'呼吸次數: ' + verifyFieldNull(item.BRE_TIME) + ' 次'"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'呼吸音: ' + verifyFieldNull(item.BRE_VOICE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'咳嗽功能: ' + verifyFieldNull(item.COUGH)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'咳嗽力道: ' + verifyFieldNull(item.COUGH_STR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'痰液: ' + verifyFieldNull(item.SPUTUM)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'痰液性質(質地): ' + verifyFieldNull(item.SPUTUM_DEEP) + ' / 痰液性質(顏色): ' + verifyFieldNull(item.SPUTUM_COLOR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'供氧: ' + verifyFieldNull(item.OXYGEN)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'供氧型態: ' + verifyFieldNull(item.OXYGEN_TYPE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'呼吸器模式: ' + verifyFieldNull(item.RESPIRATOR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'潮濕瓶有無: ' + verifyFieldNull(item.WETBOTTLE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'呼吸管路: ' + verifyFieldNull(item.BRE_CIRCUIT)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'氣管內套管壓力: ' + verifyFieldNull(item.CMH2O) + ' cmH2O'"></li>
                                        </ul>
                                        <hr>
                                    </li>
                                    <li class="assItem">
                                        <p class="title">神經系統</p>
                                        <ul class="row">
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'精神狀態: ' + verifyFieldNull(item.MIND_TYPE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'步態平衡: ' + verifyFieldNull(item.BALANCE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'活動狀態: ' + verifyFieldNull(item.ACTIVE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'暈眩: ' + verifyFieldNull(item.DIZZINESS)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'視覺障礙: ' + verifyFieldNull(item.VISUAL)"></li>
                                            <li class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" v-text="'GCS 評估類型: ' + verifyFieldNull(item.GCS)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'瞳孔: '+ verifyFieldNull(item.L_PUPIL)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'肌力測量: ' + verifyFieldNull(item.STRENGTH)"></li>
                                        </ul>
                                        <hr>
                                    </li>
                                    <li class="assItem">
                                        <p class="title">皮膚系統</p>
                                        <ul class="row">
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'顏色: ' + verifyFieldNull(item.SKIN_CLR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'潤澤度、質地、厚度: ' + verifyFieldNull(item.SKIN_MOIST)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'飽滿度、彈性、可移動性及血管分佈: ' + verifyFieldNull(item.SKIN_FLEX)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'完整性: ' + verifyFieldNull(item.SKIN_INTACT)"></li>
                                            <li class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-text="'完整性(壓瘡有無): ' + verifySkinSoreYseNo(item.SKIN_SORE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'有無燒燙傷: ' + verifyFieldNull(item.SKIN_BURN)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'燒傷等級: ' + verifyFieldNull(item.BURN)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'傷口有無: ' + verifyFieldNull(item.SKIN_WOUND)"></li>
                                        </ul>
                                        <hr>
                                    </li>
                                    <li class="assItem">
                                        <p class="title">腸胃系統</p>
                                        <ul class="row">
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'腸蠕動: ' + verifyFieldNull(item.STO_VOICE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'觸/扣診: ' + verifyFieldNull(item.STO_TOUCH)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'嘔吐: ' + verifyFieldNull(item.VOMIT)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'進食情況: ' + verifyFieldNull(item.EATING)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'副食品: ' + verifyFieldNull(item.NS_FOOD)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'排便情況: ' + verifyFieldNull(item.DEFECATE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'大便性狀: ' + verifyFieldNull(item.DFC_TYPE)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'口腔黏膜: ' + verifyFieldNull(item.ORAL)"></li>
                                        </ul>
                                        <hr>
                                    </li>
                                    <li class="assItem">
                                        <p class="title">心理/社會系統</p>
                                        <ul class="row">
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'行為方面: ' + verifyFieldNull(item.MENTAL_BEHAVIOR)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'情感方面: ' + verifyFieldNull(item.MENTAL_EMOTION)"></li>
                                            <li class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" v-text="'認知方面: ' + verifyFieldNull(item.MENTAL_COGNITION)"></li>
                                            <li class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-text="'病人情緒困擾程度: ' + verifyFieldNull(item.EMOTION_SEL)"></li>
                                            <li class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-text="'腫瘤病人情緒困擾指數: ' + verifyFieldNull(item.CANCER_EMOTION_VAL)"></li>
                                        </ul> 
                                    </li>
                                </ol>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="'登錄人員: ' + item.UPOP + ' ' +  item.UPNME"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="'電子簽章人員: ' + item.UPOP + ' ' + item.UPNME"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="'登錄日期: ' + formatDate(item.VSDTE)"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="'登錄時間: ' + formatTime(item.VSTME)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- 如果當日評估詳細評估 沒有資料等於 0 筆，且當日評估詳細評估 api 沒有產生錯誤訊息，才會顯示此區塊 -->
            <Message v-else-if="resDayAssRecData.length === 0 && serverError === ''"></Message>

                <!-- 如果當日評估詳細評估 api 產生錯誤訊息，才會顯示此區塊 -->
                <ErrorPage v-else :msg="serverError"></ErrorPage>
    </section>
</template>

<script>
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';

    export default {
        components: {
            Message,
            ErrorPage
        },
        props: {
            resDayAssRecData: { //繼承 當日評估記入資料
                type: Array,
                default: new Array
            },
            serverError: { //繼承 伺服器錯誤訊息
                type: String,
                default: String
            }
        },
        methods: {
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== null)? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : 'N/A';

                return result;
            },
            formatTime: function(time){ //格式化入院時間
                let result = (time !== null)? time.substr(0, 2) + ':' + time.substr(2, 2): 'N/A';

                return result;
            },
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            },
            verifySkinSoreYseNo: function(field){ // 此方法驗證 完整性(壓瘡有無)
                let self = this;
                let result = null;

                if (field !== null && parseInt(field) === 1) //如果完整性壓瘡 === 1 (有)
                {
                    result = '有 ' + self.resDayAssRecData[0].SCORE_SIDE; //回傳 (有 + SCORE_SIDE 欄位)
                }
                else if(field !== null && parseInt(field) === 0) //如果完整性壓瘡 === 0(無)
                {
                    result = '無';                                 //回傳 (無)
                }
                else                                             //什麼都沒有
                {
                    result = 'N/A';                              //回傳 N/A
                }

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    .dayRecAss
        background-color: $color_blue
        margin: 0px

        .container-fluid
            padding: 25px

            .dayRecAssData
                .card
                    padding: 10px
                    box-shadow: 0px 0px 15px rgba($color_black, 0.15)
                    border-radius: 10px

                    p
                        padding: 10px 0px
                        margin: 0px

                    ol, ul
                        list-style: none
                        margin: 0px
                        padding: 0px

                        li
                            padding: 0px
                            text-align: justify

                    .bodyAssList
                        .assItem
                            margin-bottom: 10px

                            p.title
                                font-weight: 530
                                padding: 0px

                            ul
                                li
                                    padding:
                                        top: 10px
                                        bottom: 10px
                                        right: 20px
                                    word-break: break-all
                                    text-align: justify-all
                                    vertical-align: middle
                    
                    @for $i from 1 through 8
                        .bodyAssList
                            .assItem:nth-child(#{$i})
                                p:before
                                    content: '#{$i}. '
</style>