<template>
    <!--護理約束內容與查核表-->
    <div id="nurTraintCheckContent">
        <!-- 如果護理約束內容與查核清單有資料等於 1 筆，且護理約束內容與查核清單資料不等於 null 值，且護理約束內容與查核清單 api 沒有產生錯誤訊息，才顯示此區塊 -->
        <div class="nurTraintCheckContentData" v-if="resNurTraintCheckContentData.length === 1 && resNurTraintCheckContentData[0] !== null && serverError === ''">
            <!-- 約束內容 -->
            <section class="nurTraintData">
                <div class="container-fluid">
                    <div class="row">
                        <div class="nurTraintInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in resNurTraintCheckContentData" :key="index">
                            <div class="card">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <h5>危險因子</h5>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'重新約束狀態: ' + verifyFieldNull(item.RESTART)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'約束工具: ' + verifyFieldNull(item.TOOL)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'危險因子: ' + verifyFieldNull(item.DANFAC)"></p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <h5>護理評估</h5>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'鎮靜劑使用: ' + verifyFieldNull(item.TRQFLG)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'約束部位: ' + verifyFieldNull(item.POS)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'約束原因: ' + verifyFieldNull(item.REASON)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'合併症: ' + verifyFieldNull(item.RESCC)"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 約束查核表 -->
            <section class="nurTraintCheckList">
                <div class="container-fluid">
                    <div class="row">
                        <div class="nurTraintCheckListInfo col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <h5>查核表</h5>
                            <div class="scroll">
                                <table>
                                    <thead class="header">
                                        <tr>
                                            <th>#</th>
                                            <th>病歷號</th>
                                            <th>記錄日期</th>
                                            <th>記錄時間</th>
                                            <th>登錄人員</th>
                                        </tr>
                                    </thead>

                                    <tbody class="content">
                                        <tr class="traintCheckList" v-for="(item, index) in showNumberItem" :key="index" v-on:click="getNurTraintCheckInfo(item.EVLDTE, item.EVLTME, index)">
                                            <td v-text="index + itemBarMenu * nowPage - itemBarMenu + 1"></td>
                                            <td v-text="item.CRTNO"></td>
                                            <td v-text="item.EVLDTE"></td>
                                            <td v-text="item.EVLTME"></td>
                                            <td v-text="item.UPOP"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <Pagination @changePage="handleChangePage" @changeSize="handleChangeSize" :total="resNurTraintCheckContentData[0].nur_CheckInfo.length"></Pagination>
                        </div>

                        <!--
                            <NurTraintCheckInfo> 為護理約束查核明細組件，如果 showTraintCheckDetail 為 true，才會顯示此組件，
                            並繼承 resNurTraintCheckInfoData (護理約束查核明細)，apiNurTraintCheckInfoError (護理約束查核明細 api 錯誤訊息)
                        -->
                        
                        <NurTraintCheckInfo v-if="showTraintCheckDetail === true" :resNurTraintCheckInfoData="resNurTraintCheckInfoData" :serverError="apiNurTraintCheckInfoError"></NurTraintCheckInfo>
                    </div>
                </div>
            </section>
        </div>
            
            <!-- 如果護理約束內容與查核清單有資料等於 1，且護理約束內容與查核清單資料等於 null 值，且護理約束內容與查核清單 api 沒有產生錯誤訊息，才顯示此區塊 -->
            <Message v-else-if="resNurTraintCheckContentData.length === 1 && resNurTraintCheckContentData[0] === null && serverError === ''"></Message>
                
                <!-- 如果護理約束內容與查核清單 api 產生錯誤訊息，才會顯示此區塊 -->
                <ErrorPage v-else :msg="serverError"></ErrorPage>
    </div>
</template>

<script>
    import { getNurTraintChkInfo } from '@/api/nur.js'; //引入護理約束登入查核內容 api
    import NurTraintCheckInfo from './NurTraintCheckInfo'; //引入//護理約束登入內容及查核表元件
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';
    import Pagination from '@/components/Pagination';

    export default {
        components: {
            NurTraintCheckInfo, //護理約束登入內容及查核表元件
            Message,
            ErrorPage,
            Pagination
        },
        props: {
            attrData: {  //繼承 掛載參數
                type: Object,
                default: new Object
            },
            sDate: {  //繼承 起始日期
                type: String,
                default: String
            },
            sTime: {  //繼承 起始時間
                type: String,
                default: String
            },
            resNurTraintCheckContentData: {  //繼承 護理約束內容與查核清單
                type: Array,
                default: new Array
            },
            serverError: { //繼承 護理約束內容與查核清單 api 錯誤訊息
                type: String,
                default: String
            },
        },
        mounted(){
            let self = this;
            self.resNurTraintCheckContentData[0].nur_CheckInfo.reverse(); //反轉 nur_CheckInfo(查核表清單) 陣列
        },
        data(){
            return {
                resNurTraintCheckInfoData: [],  //儲存 護理約束查核明細內容
                apiNurTraintCheckInfoError: '', //儲存 護理約束查核明細內容 api 錯誤訊息
                showTraintCheckDetail: null,    //控制 護理約束查核內容是否顯示
                nowPage: 1, //記錄現在的頁籤
                itemBarMenu: 5, //儲存一次顯示幾筆資料
                nurTraintCheckListBindStyle: "background-color: #26547C; color: #ffffff", //綁定清單點擊後樣式
            }
        },
        methods: {
            getNurTraintCheckInfo: function(evldte, evltme, index){ //當使用者點擊某一筆查核清單，才會呼叫此方法，取得查核明細
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const crtseq = self.attrData.crtseq;
                const opid = self.attrData.opid;
                const sDate = self.sDate;
                const sTime = self.sTime;
                const eVldte = evldte.replace(/\//g, ''); //將記錄日期 "斜線" 取代成 "空白"
                const eVltme = evltme.replace(/:/g, '');  //將記錄時間 "斜線" 取代成 "空白"
                self.resNurTraintCheckInfoData = []; //初始化清空護理約束查核明細
                self.apiNurTraintCheckInfoError = ''; //初始化清空護理約束查核明細 api 錯誤字串
                self.showTraintCheckDetail = null; //初始化護理約束查核明細內容不呈現
                self.reNurTraintListStyle();  //呼叫 reNurTraintListStyle() 方法重整查核表樣式為黑色字，白色背景
                document.querySelectorAll('.traintCheckList').item(index).style = self.nurTraintCheckListBindStyle; //重新指定 table row 樣式，將傳回來的 row index 指定樣式

                getNurTraintChkInfo(hsp, crtno, crtseq, sDate, sTime, eVldte, eVltme, opid).then((res) => { //呼叫 api 代入院區、病歷號、流水號、起始日期、起始時間、查核日期、查核時間、員編，取得查核明細資料
                    if (res.status === 200) //如果回傳回來有產生標頭，且狀態為 200 成功狀態
                    {
                        self.resNurTraintCheckInfoData.push(res.data); //將回傳回來之資料推送至 resNurTraintCheckInfoData 陣列
                        self.showTraintCheckDetail = true;  //顯示約束查核明細組件
                    }
                    else
                    {
                        self.apiNurTraintCheckInfoError = res;  //呼叫 errorHeadler 方法查看什麼錯誤，儲存至 apiNurTraintListError 字串
                        self.showTraintCheckDetail = true;  //顯示約束查核明細組件
                    }
                })
            },
            handleChangePage: function(val) {
                this.nowPage = val;
            },
            handleChangeSize: function(val) {
                this.itemBarMenu = val;
            },
            reNurTraintListStyle: function(){ //重整約束查核表列表樣式
                let patientList = document.getElementsByClassName('traintCheckList'); //抓取所有 .patientList 屬性
                
                for (let i = 0; i < patientList.length; i++) //使用迴圈清空樣式
                {
                    patientList[i].style = '';
                }
            },
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            }
        },
        computed: {
            showNumberItem: function(){
                /*
                    當 page、itemBarMenu 變數因前面的 rePageTotal、goToPage、lastPage、nextPage 方法，將 page、itemMenu 裡的值變更時，
                    才會自動啟用此方法，從第幾筆開始顯示到第幾筆
                */

                let start = this.nowPage * this.itemBarMenu - this.itemBarMenu;
                /*
                    start 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數 - 顯示筆數
                    例: 1 * 5 - 5
                */
                
                let end = this.nowPage * this.itemBarMenu;
                /*
                    end 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數
                    例: 1 * 5
                */

                let result = this.resNurTraintCheckContentData[0].nur_CheckInfo.slice(start, end);

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions.sass'

    p
        padding: 10px 0px

    #nurTraintCheckContent
        .nurTraintCheckContentData
            .nurTraintData
                background-color: $color_blue

                .container-fluid
                    padding: 25px

                    .row
                        .nurTraintInfo
                            .card
                                padding: 10px
                                border-radius: 10px

            .nurTraintCheckList
                background-color: $color_white

                .container-fluid
                    padding: 25px
                        
                    .row
                        .nurTraintCheckListInfo
                            margin-bottom: 20px

                            h5
                                background-color: $color_gray
                                border:
                                    top: 1px solid darken($color_gray, 25)
                                    left: 1px solid darken($color_gray, 25)
                                    right: 1px solid darken($color_gray, 25)
                                padding: 5px 10px
                                width: 100%

                            .scroll::-webkit-scrollbar
                                background-color: darken($color_gray, 15)
                                height: 10px

                            .scroll::-webkit-scrollbar-track
                                background-color: darken($color_gray, 15)

                            .scroll::-webkit-scrollbar-thumb
                                background-color: darken($color_gray, 25)

                            .scroll
                                width: 100%
                                border: 1px solid darken($color_gray, 25)
                                overflow-x: auto
                                overflow-y: hidden

                                table
                                    width: 100%
                                    background-color: $color_white

                                    tr
                                        color: $color_black
                                        transition: (background-color, color) 0.5s

                                        th, td
                                            white-space: nowrap
                                            text-align: center
                                            vertical-align: middle
                                            padding: 10px

                                    tbody.content
                                        tr
                                            cursor: pointer

                                        tr:nth-child(odd)
                                            background-color: $color_gray
                                        
                                        tr.traintCheckList
                                            border-top: 1px solid darken($color_gray, 15)

                                            &:hover
                                                box-shadow: inset 5px 0px $color_blue
                                                
    .Pagination
        background-color: $color_gray
        border-left: 0.5px solid darken($color_gray, 25)
        border-right: 0.5px solid darken($color_gray, 25)
        border-bottom: 0.5px solid darken($color_gray, 25)

    @media screen and ( max-width: 992px )
        #nurTraintCheckContent
            .nurTraintCheckContentData
                .nurTraintCheckList
                    .container-fluid
                        .row
                            .nurTraintCheckListInfo
                                .scroll
                                    overflow-x: auto
                                    overflow-y: hidden
</style>